* {
  margin: 0px;
}

#root {
  height: 100vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justing-content: center;
}

#form {
  display: flex;
  flex-direciton: column;
}

form {
  display: flex;
  flex-direction: column;
}

.submitBox {
  width: 20%;
}


.secretBox {
  height: 30px;
}